// BREAKPOINTS
lg = 1366px
md = 1000px
sm = 756px
xs = 226px
// SIZES
navWidth--lg = 451px
navWidth--sm = 250px
// COLORS
colorsMain = #f01452
colorsBlack = #0e1111
colorsLighterBlack = #131822
colorsWhite = #ffffff
colorsGrey = #888888
// TRANSITIONS
transitionsMain = all ease .6s
// PADDINGS & MARGINS
paddingsMain = 3rem
marginsMain = 1rem