// COLORS
$colors--main: #ffffff;
$colors--gradient-from: #ee177d;
$colors--gradient-to: #fd6c10;
// BORDERS
$borders--width: 1px;
$borders--borderRadius: 95px;
// FONT
$fontsLetterSpacing--h1: 7px;
$fontsLetterSpacing--p: 2px;
// PADDINGS
$paddings--body: 52px;
$paddings--main: 45px 100px;
$paddings--main-mobile: 60px 25px;
$paddings--form: 26px 18px;
$paddings--btn: 15px 42px;
// MARGINS
$margins--navEls: 0 20px;
$margins--btns: 0 57px;
// TRANSITIONS
$transition--main: all ease .4s;
$transition--nav: all ease-in-out .2s;